This notebook show how to generate a pandas dataframe from several JSON files with tweets captures using the Stream API. 
Particularly, two dataframes are generated:
* A dataframe with tweet and user info
* A dataframe with location info of the tweets

# Configuration

* Connection with Master notebook is configures
* DIfferent variables are set

In [1]:
# check if IS_MASTER exists, this variable will only exist if it's being called by MASTER notebook.
# if it does not exist, set it to False
try: IS_MASTER
except: IS_MASTER = False
# The code below will only run if it's NOT being called from MASTER notebook
if not IS_MASTER:
    # targetFiles = 'HealthyFood'
    # targetFiles = 'UnhealthyFood'
    targetFiles = 'GenericTweets'
    DATA_DIR = './data/temp/' # 
#The code expects a folder (targetFiles) with the next tree structure inside:
# - Name of captured dataset (JSON files)
# |- Year
#  |- Month
#   |- Day
#    |- JSON files
RAW_JSON_DIR = f'./data/JSONFiles/{targetFiles}' #Path to the root folder of JSON files containing tweets
RAW_CSV_DIR = f'./data/CSVFiles/'
PROCESSED_CSV_FILE = f'./{RAW_CSV_DIR}/{targetFiles}-DataFrame.csv'
PROCESSED_LOCATION_CSV_FILE = f'./{RAW_CSV_DIR}/{targetFiles}-LocationsDataframe.csv' # use "small data" here

In [2]:
#Libraries used in the notebook
import csv
import json
import numpy as np
import pandas as pd
import glob
import os
import ntpath
import pickle
import shutil

# 1: Transform the json files to csv

In [3]:
#We get a list with all target JSON files

files = glob.glob(f'{RAW_JSON_DIR}/**/*.json', recursive=True)
files.sort()
filenames = []
for file in files:
    filename=os.path.splitext(file)[0]
    filename = ntpath.basename(filename)
    filenames.append(filename)

filenames

['2019_11_13_13_36_41-Copy1',
 '2019_11_13_14_36_42-Copy1',
 '2019_11_13_15_36_43-Copy1',
 '2019_11_13_16_36_43-Copy1',
 '2019_11_13_17_36_43-Copy1',
 '2019_11_13_18_36_44-Copy1']

In [4]:
# Convert JSON to CSV files
# It may take some time
i = 0
NEW_FILES = 0
outdir = RAW_CSV_DIR + 'temp/'
if not os.path.exists(outdir):
    os.mkdir(outdir)
failed_files = []                              #JSON files in this list need a ']' at the end due to interrupts during the stream capture

for file in files:
    outname = '{}'.format(filenames[i])+'.csv'
    fullname = os.path.join(outdir, outname)
    i+=1

    if not os.path.exists(fullname):
        print('Creating {}'.format(fullname))
        with open(file, encoding='utf-8-sig') as f_input:
            try:
                df = pd.read_json(f_input)
            except:
                failed_files.append(f_input)
            
        df.to_csv(fullname , index=False)
        NEW_FILES +=1

print('{} new csv files has been created'.format(NEW_FILES))

Creating ./data/CSVFiles/temp/2019_11_13_13_36_41-Copy1.csv
Creating ./data/CSVFiles/temp/2019_11_13_14_36_42-Copy1.csv
Creating ./data/CSVFiles/temp/2019_11_13_15_36_43-Copy1.csv
Creating ./data/CSVFiles/temp/2019_11_13_16_36_43-Copy1.csv
Creating ./data/CSVFiles/temp/2019_11_13_17_36_43-Copy1.csv
Creating ./data/CSVFiles/temp/2019_11_13_18_36_44-Copy1.csv
6 new csv files has been created

In [5]:
failed_files

[]

# 2: Create a dataframe

In [21]:
#files = glob.glob(f'{RAW_CSV_DIR}temp/*.csv')
files = glob.glob(f'{RAW_CSV_DIR}/smallData-DataFrame.csv')
files.sort()
files

['./data/CSVFiles//smallData-DataFrame.csv']

In [24]:
# Join all csv files in one dataframe in case there are new files
#TODO:It could have less computational cost if we only join new csv files

if NEW_FILES != 0:

    df = pd.DataFrame()
    print(df.shape)

    li = []

    for filename in files:
        df_temp = pd.read_csv(filename, index_col=None, header=0, lineterminator='\n')
        df_temp = df_temp[['coordinates','created_at','geo','id','id_str','lang','place',
                           'text','user', 'extended_tweet', 'truncated', 'extended_entities']]
        li.append(df_temp)

    df = pd.concat(li, axis=0, ignore_index=True)
    print(df.shape)

    #shutil.rmtree(outdir)
    
    #Filter RTs

    df = df[df['text'].str.contains("RT @") == False]
    df = df.reset_index()
    
    print(df.shape)

(0, 0)
(13525, 12)
(13525, 13)

In [25]:
#Get full text from extended tweet
def getFullText(truncated, extended_tweet):
    if truncated:
        a = extended_tweet.replace("'", '"')
        try:
            b = json.loads(a)
            res = b['full_text']
        except:
            res = None
        return res

In [26]:
if NEW_FILES != 0:
    df['full_text'] = df.apply(lambda x: getFullText(x['truncated'], x['extended_tweet']) , axis=1)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13525 entries, 0 to 13524
Data columns (total 14 columns):
index                13525 non-null int64
coordinates          50 non-null object
created_at           13525 non-null object
geo                  50 non-null object
id                   13525 non-null float64
id_str               13525 non-null float64
lang                 13525 non-null object
place                525 non-null object
text                 13525 non-null object
user                 13525 non-null object
extended_tweet       3312 non-null object
truncated            13525 non-null float64
extended_entities    653 non-null object
full_text            2780 non-null object
dtypes: float64(3), int64(1), object(10)
memory usage: 1.4+ MB

In [28]:
def getText2Proc(fullText, text):
    if fullText is not None:
        return (fullText)
    else:
        return (text)

In [29]:
df['text2Proc'] = df.apply(lambda x: getText2Proc(x['full_text'], x['text']) , axis=1)
df.head()

,index,coordinates,created_at,geo,id,id_str,lang,place,text,user,extended_tweet,truncated,extended_entities,full_text,text2Proc
0,0,NaN,2019-11-07 15:51:39.000,NaN,1.192470e+18,1.192470e+18,es,NaN,Nunca voy a entender por qué #Bienvenidos13 si...,"{'id': 284654792, 'id_str': '284654792', 'name...",{'full_text': 'Nunca voy a entender por qué #B...,1.0,NaN,Nunca voy a entender por qué #Bienvenidos13 si...,Nunca voy a entender por qué #Bienvenidos13 si...
1,1,NaN,2019-11-07 15:52:52.000,NaN,1.192470e+18,1.192470e+18,es,NaN,@MalenaAubone NooOOoOOo man voy a comprar hela...,"{'id': 3029655005, 'id_str': '3029655005', 'na...",NaN,0.0,NaN,None,@MalenaAubone NooOOoOOo man voy a comprar hela...
2,2,NaN,2019-11-07 15:53:49.000,NaN,1.192470e+18,1.192470e+18,es,NaN,"Estamos en una parri con mi viejo, al costado ...","{'id': 602970512, 'id_str': '602970512', 'name...",{'full_text': 'Estamos en una parri con mi vie...,1.0,NaN,"Estamos en una parri con mi viejo, al costado ...","Estamos en una parri con mi viejo, al costado ..."
3,3,NaN,2019-11-07 15:54:03.000,NaN,1.192470e+18,1.192470e+18,es,NaN,No nos extinguimos de pedo,"{'id': 1726824211, 'id_str': '1726824211', 'na...",NaN,0.0,NaN,None,No nos extinguimos de pedo
4,4,NaN,2019-11-07 15:55:01.000,NaN,1.192471e+18,1.192471e+18,es,NaN,Desde las 11am. Que pienso en el helado que es...,"{'id': 185476629, 'id_str': '185476629', 'name...",NaN,0.0,NaN,None,Desde las 11am. Que pienso en el helado que es...

In [30]:
outdir = RAW_CSV_DIR
if not os.path.exists(outdir):
    os.mkdir(outdir)
df.to_csv(PROCESSED_CSV_FILE, index=False)

# 3: Get tweet location

In [14]:
# Get user location
users = df.user.values
locations = []

if NEW_FILES != 0:
    for user in users:
        keyword = "'location':"
        before_keyword, keyword, after_keyword = user.partition(keyword)
        my_string = after_keyword
        keyword = "'url':"
        before_keyword, keyword, after_keyword = my_string.partition(keyword)
        user_location = before_keyword.replace(',','').replace("\'",'').replace('\"','').strip()
        locations.append(user_location)
    df = df.assign(user_location = locations)
    df = df.replace('None', np.NaN)

In [15]:
# Get tweet location

if NEW_FILES != 0:
    place = df.place

    longitude = []
    latitude = []
    country = []
    city = []
    n=0
    for i in place.values:
        a = ''
        if not isinstance(i, float):
            a = i.replace("'", '"')

        try:
            b = json.loads(a)
            n = n + 1
            longitude.append(b['bounding_box']['coordinates'][0][0][0])
            latitude.append(b['bounding_box']['coordinates'][0][0][1])
            country.append(b['country'])
            city.append(b['name'])
        except ValueError:
            longitude.append(np.NaN)
            latitude.append(np.NaN)
            country.append(np.NaN)
            city.append(np.NaN)
            continue
    df['Country'] = country
    df['City'] = city
    df['Longitude'] = longitude
    df['Latitude'] = latitude
    df['Coordinates'] = list(zip(df.Longitude, df.Latitude))

    df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14703 entries, 0 to 14702
Data columns (total 21 columns):
index                14703 non-null int64
coordinates          75 non-null object
created_at           14703 non-null object
geo                  75 non-null object
id                   14703 non-null int64
id_str               14703 non-null int64
lang                 14703 non-null object
place                600 non-null object
text                 14703 non-null object
user                 14703 non-null object
extended_tweet       5959 non-null object
truncated            14703 non-null bool
extended_entities    595 non-null object
full_text            4801 non-null object
text2Proc            14703 non-null object
user_location        10331 non-null object
Country              598 non-null object
City                 598 non-null object
Longitude            598 non-null float64
Latitude             598 non-null float64
Coordinates          14703 non-null object
dtypes: bool(1), float64(2), int64(3), object(15)
memory usage: 2.3+ MB

In [16]:
df_original = df

### Create a dataframe with locations for statistical analysis

In [17]:
df = df[['Country', 'City', 'Longitude', 'Latitude']][df['Country'].notna()]
df['Coordinates'] = list(zip(df.Longitude, df.Latitude))
df

,Country,City,Longitude,Latitude,Coordinates
30,España,Palomeque,-4.017543,40.095033,"(-4.017543, 40.095033)"
38,España,Valencia,-0.432545,39.278381,"(-0.43254499999999996, 39.278381)"
49,España,Oviedo,-6.020100,43.278867,"(-6.0201, 43.278867)"
68,Peru,Lince,-77.045913,-12.093449,"(-77.045913, -12.093449)"
80,Argentina,Villa Soldati,-58.502543,-34.705421,"(-58.502543, -34.705421)"
117,México,Guadalupe,-100.274823,25.621688,"(-100.274823, 25.621688)"
148,España,Lloret de Mar,2.775933,41.686311,"(2.775933, 41.686311)"
157,Venezuela,Mérida,-71.195747,8.566088,"(-71.195747, 8.566088)"
178,Argentina,Ciudad Autónoma de Buenos Aires,-58.531792,-34.674453,"(-58.531792, -34.674453)"
214,Peru,La Molina,-76.972519,-12.124810,"(-76.972519, -12.12481)"
220,Tailandia,ตลาดยอด,100.494335,13.757552,"(100.494335, 13.757552)"
232,España,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
242,Peru,San isidro,-77.062760,-12.113561,"(-77.06276, -12.113561)"
290,España,Sevilla,-6.028430,37.313613,"(-6.02843, 37.313613)"
291,España,Las Palmas de Gran Canaria,-15.525504,28.024813,"(-15.525504, 28.024813)"
293,México,Ecatepec de Morelos,-99.118665,19.484399,"(-99.118665, 19.484399)"
299,Argentina,Casa Tomada,-65.309366,-24.186297,"(-65.309366, -24.186297)"
373,Colombia,Caldas,-75.694574,5.969350,"(-75.694574, 5.96935)"
374,México,Álvaro Obregón,-99.324375,19.232228,"(-99.324375, 19.232228)"
387,Peru,Jesús Maria,-77.059460,-12.095034,"(-77.05946, -12.095034)"
408,Argentina,Resistencia,-59.059307,-27.505327,"(-59.059307, -27.505327)"
445,México,Huixquilucan,-99.404165,19.305971,"(-99.404165, 19.305971)"
451,Peru,Lince,-77.045913,-12.093449,"(-77.045913, -12.093449)"
531,México,Huixquilucan,-99.404165,19.305971,"(-99.404165, 19.305971)"
536,Argentina,Buenos Aires,-63.393860,-41.035009,"(-63.39386, -41.035009)"
578,Brasil,Uberaba,-48.355618,-20.125352,"(-48.355618, -20.125352)"
594,Rumanía,Bucarest,25.963699,44.349420,"(25.963699, 44.34942)"
686,España,Albacete,-2.181299,38.672083,"(-2.181299, 38.672083)"
701,Peru,Lima,-77.088074,-12.080577,"(-77.088074, -12.080577)"
716,Colombia,"Bogotá, D.C.",-74.483289,3.717432,"(-74.483289, 3.717432)"
...,...,...,...,...,...
13905,España,Galar,-1.724087,42.697814,"(-1.724087, 42.697814)"
13916,Argentina,Belén de Escobar,-58.863099,-34.456428,"(-58.863099, -34.456428)"
13920,Canada,Toronto,-79.639319,43.403221,"(-79.639319, 43.403221)"
13954,Peru,Lima,-77.088074,-12.080577,"(-77.088074, -12.080577)"
13958,España,Pineda de Mar,2.627270,41.615030,"(2.62727, 41.61503)"
13978,Spain,Boadilla del Monte,-3.952603,40.377576,"(-3.952603, 40.377576)"
14021,Argentina,Formosa,-58.238548,-26.209999,"(-58.238548, -26.209999)"
14138,Colombia,"Bogotá, D.C.",-74.483289,3.717432,"(-74.483289, 3.717432)"
14147,Paraguay,Neembucu,-58.668313,-27.421413,"(-58.668313, -27.421413)"
14175,Spain,Las Palmas de Gran Canaria,-15.525504,28.024813,"(-15.525504, 28.024813)"
14180,Argentina,Ciudad Autónoma de Buenos Aires,-58.531792,-34.674453,"(-58.531792, -34.674453)"
14191,México,Cuauhtémoc,-99.184350,19.399835,"(-99.18435, 19.399835)"
14213,Panamá,Panamá,-83.051445,7.203860,"(-83.051445, 7.20386)"
14214,Argentina,Ciudad Autónoma de Buenos Aires,-58.531792,-34.674453,"(-58.531792, -34.674453)"
14246,Venezuela,Nueva Esparta,-66.956004,10.736010,"(-66.956004, 10.73601)"
14252,Peru,San Juan de Iris,-76.553073,-11.778478,"(-76.553073, -11.778478)"
14287,Argentina,Unión,-62.706463,-32.642557,"(-62.706463, -32.642557)"
14313,España,Málaga,-4.587928,36.635585,"(-4.587928, 36.635585)"
14423,México,Isla Mujeres,-87.395993,21.200226,"(-87.395993, 21.200226)"
14450,España,Ourense,-8.003734,42.288179,"(-8.003734, 42.288179)"
14491,España,Valencia,-0.432545,39.278381,"(-0.43254499999999996, 39.278381)"
14502,Chile,Valparaíso,-80.114855,-33.213554,"(-80.114855, -33.213554)"
14504,México,Hermosillo,-112.615459,28.228442,"(-112.615459, 28.228442)"
14570,España,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
14608,España,Zaragoza,-1.174093,41.451835,"(-1.174093, 41.451835)"
14614,Argentina,General Rodríguez,-59.023527,-34.651782,"(-59.023527, -34.651782)"
14615,Argentina,General Rodríguez,-59.023527,-34.651782,"(-59.023527, -34.651782)"
14652,España,Sevilla,-6.028430,37.313613,"(-6.02843, 37.313613)"
14682,Ecuador,Guayaquil,-80.467605,-3.063716,"(-80.467605, -3.063716)"
14702,Argentina,Puerto Madryn,-65.072389,-42.790148,"(-65.072389, -42.790148)"

In [18]:
df.to_csv(PROCESSED_LOCATION_CSV_FILE, index=False)

In [19]:
#get tweets from Spain
df = df_original
df.loc[df['Country'] == "España", 'Country'] = 'Spain'
df.loc[df['Country'] == "Espanya", 'Country'] = 'Spain'
df_spain = df = df[df.Country == 'Spain']
df_spain = df_spain.reset_index()
df_spain

,level_0,index,coordinates,created_at,geo,id,id_str,lang,place,text,...,truncated,extended_entities,full_text,text2Proc,user_location,Country,City,Longitude,Latitude,Coordinates
0,30,87,NaN,2019-11-13 13:37:28.000,NaN,1194610231965364224,1194610231965364224,es,"{'id': '369ff584feaf6201', 'url': 'https://api...",La veleta naranja se rompió de la tanto giro.\...,...,False,NaN,None,La veleta naranja se rompió de la tanto giro.\...,NaN,Spain,Palomeque,-4.017543,40.095033,"(-4.017543, 40.095033)"
1,38,105,NaN,2019-11-13 13:37:42.000,NaN,1194610288701714433,1194610288701714432,es,"{'id': '071a52d3a927a1b8', 'url': 'https://api...",Toma Geroma! Pastillas de goma! Dabuten tronco...,...,False,NaN,None,Toma Geroma! Pastillas de goma! Dabuten tronco...,València,Spain,Valencia,-0.432545,39.278381,"(-0.43254499999999996, 39.278381)"
2,49,136,NaN,2019-11-13 13:37:59.000,NaN,1194610359233122306,1194610359233122304,es,"{'id': 'd1272bba8714df3d', 'url': 'https://api...",@nancyacostatfe @Hibai_ @MabelFigueruelo De fr...,...,False,NaN,None,@nancyacostatfe @Hibai_ @MabelFigueruelo De fr...,NaN,Spain,Oviedo,-6.020100,43.278867,"(-6.0201, 43.278867)"
3,148,506,NaN,2019-11-13 13:41:35.000,NaN,1194611265802518528,1194611265802518528,es,"{'id': '16d7e4bdce732b26', 'url': 'https://api...",Parece que mermelada se cree el único ser cult...,...,False,NaN,None,Parece que mermelada se cree el único ser cult...,Gerona Cataluña,Spain,Lloret de Mar,2.775933,41.686311,"(2.775933, 41.686311)"
4,232,782,"{'type': 'Point', 'coordinates': [-3.69051871,...",2019-11-13 13:44:14.000,"{'type': 'Point', 'coordinates': [40.42790112,...",1194611934433165312,1194611934433165312,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...",Edamame en bartomate \n.\n.\n.\n#edamame #bart...,...,True,NaN,Edamame en bartomate \n.\n.\n.\n#edamame #bart...,Edamame en bartomate \n.\n.\n.\n#edamame #bart...,Madrid,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
5,290,953,NaN,2019-11-13 13:45:53.000,NaN,1194612350529216512,1194612350529216512,es,"{'id': '8c86b8b4cb716103', 'url': 'https://api...",información inutil sobre mi:\n\naltura: 1'73\n...,...,True,NaN,None,información inutil sobre mi:\n\naltura: 1'73\n...,La Línea Cádiz,Spain,Sevilla,-6.028430,37.313613,"(-6.02843, 37.313613)"
6,291,958,NaN,2019-11-13 13:45:57.000,NaN,1194612367033880577,1194612367033880576,es,"{'id': '00ab08eef1b62e92', 'url': 'https://api...",Hoy está el día para un buen plato de lentejas...,...,False,NaN,None,Hoy está el día para un buen plato de lentejas...,Las Palmas de Gran Canaria,Spain,Las Palmas de Gran Canaria,-15.525504,28.024813,"(-15.525504, 28.024813)"
7,686,2256,NaN,2019-11-13 13:57:50.000,NaN,1194615358046507008,1194615358046507008,es,"{'id': '56933d34eb0f964a', 'url': 'https://api...",Este sabroso crumble de calabaza y avellanas e...,...,True,NaN,Este sabroso crumble de calabaza y avellanas e...,Este sabroso crumble de calabaza y avellanas e...,Ángel 40 Albacete,Spain,Albacete,-2.181299,38.672083,"(-2.181299, 38.672083)"
8,944,3006,NaN,2019-11-13 14:04:50.000,NaN,1194617117833863168,1194617117833863168,es,"{'id': 'f4250a690d3b8039', 'url': 'https://api...","informacion super inutil de mi:\n\naltura: 1,5...",...,True,NaN,"informacion super inutil de mi:\n\naltura: 1,5...","informacion super inutil de mi:\n\naltura: 1,5...",Euskal Herria,Spain,Zarautz,-2.209988,43.242870,"(-2.209988, 43.24287)"
9,1250,3896,"{'type': 'Point', 'coordinates': [-3.68333, 40...",2019-11-13 14:13:06.000,"{'type': 'Point', 'coordinates': [40.4, -3.683...",1194619197227196418,1194619197227196416,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...",¡¡Que hambre!! ¿Y tú que comes hoy?? Yo unas ...,...,True,NaN,¡¡Que hambre!! ¿Y tú que comes hoy?? Yo unas ...,¡¡Que hambre!! ¿Y tú que comes hoy?? Yo unas ...,Madrid,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
10,1338,4201,NaN,2019-11-13 14:15:52.000,NaN,1194619892810559488,1194619892810559488,es,"{'id': '18760d8c2f8ec22e', 'url': 'https://api...",Ahora sí se perdió el norte. Sodoma y gomorra ...,...,False,NaN,None,Ahora sí se perdió el norte. Sodoma y gomorra ...,NaN,Spain,Calafell,1.557382,41.185780,"(1.557382, 41.18578)"
11,1415,4431,NaN,2019-11-13 14:18:02.000,NaN,1194620441752752128,1194620441752752128,es,"{'id': '4046ac3a05c54146', 'url': 'https://api...",@yatedigoyoque @KIud0 Puedes recurrir al catal...,...,True,NaN,@yatedigoyoque @KIud0 Puedes recurrir al catal...,@yatedigoyoque @KIud0 Puedes recurrir al catal...,NaN,Spain,Mollet de Peralada,2.989088,42.326848,"(2.9890879999999997, 42.326848)"
12,1472,4601,"{'type': 'Point', 'coordinates': [-0.8827, 41....",2019-11-13 14:19:29.000,"{'type': 'Point', 'coordinates': [41.6503, -0....",1194620805570875394,1194620805570875392,es,"{'id': '3afc29d1fe76301f', 'url': 'https://api...",[💥PANCAKES CINNAMON ROLL💥 ]\n.\n.\n⬇️INGREDIEN...,...,True,NaN,[💥PANCAKES CINNAMON ROLL💥 ]\n.\n.\n⬇️INGREDIEN...,[💥PANCAKES CINNAMON ROLL💥 ]\n.\n.\n⬇️INGREDIEN...,Barcelona Cataluña,Spain,Zaragoza,-1.174093,41.451835,"(-1.174093, 41.451835)"
13,1494,4666,NaN,2019-11-13 14:20:02.000,NaN,1194620944788017152,1194620944788017152,es,"{'id': 'c52827ebd9bfe563', 'url': 'https://api...","@EstefaniaJoaq Yo no lo creo, más bien ""esto e...",...,False,NaN,None,"@EstefaniaJoaq Yo no lo creo, más bien ""esto e...",NaN,Spain,Jerez de la Frontera,-6.306111,36.516968,"(-6.306111, 36.516968)"
14,1512,4706,"{'type': 'Point', 'coordinates': [-1.85887, 38...",2019-11-13 14:20:24.000,"{'type': 'Point', 'coordinates': [38.99583, -1...",1194621036622307329,1194621036622307328,es,"{'id': '56933d34eb0f964a', 'url': 'https://api...",⠀⠀⠀⠀⠀⠀⠀⠀⠀\n🇪🇸 Comenzamos las comidas de la Aso...,...,True,NaN,⠀⠀⠀⠀⠀⠀⠀⠀⠀\n🇪🇸 Comenzamos las comidas de la Aso...,⠀⠀⠀⠀⠀⠀⠀⠀⠀\n🇪🇸 Comenzamos las comidas de la Aso...,NaN,Spain,Albacete,-2.181299,38.672083,"(-2.181299, 38.672083)"
15,1540,4794,NaN,2019-11-13 14:21:13.000,NaN,1194621242961096705,1194621242961096704,es,"{'id': '387b00909c2e7031', 'url': 'https://api...",@yxngmozo @holiest_jambo el d rooibos y frambu...,...,False,NaN,None,@yxngmozo @holiest_jambo el d rooibos y frambu...,Castelldefels España,Spain,Granada,-3.699796,37.135903,"(-3.699796, 37.135903)"
16,1588,4941,NaN,2019-11-13 14:22:36.000,NaN,1194621588601073668,1194621588601073664,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...","@la_flawerova Yo hoy he comido judías verdes, ...",...,False,NaN,None,"@la_flawerova Yo hoy he comido judías verdes, ...",NaN,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
17,1696,5314,"{'type': 'Point', 'coordinates': [-0.8827, 41....",2019-11-13 14:25:43.000,"{'type': 'Point', 'coordinates': [41.6503, -0....",1194622373154213888,1194622373154213888,es,"{'id': '3afc29d1fe76301f', 'url': 'https://api...",[💥PANCAKES CACAO💥 ]\n.\n.\n⬇️INGREDIENTES⬇️\n➖...,...,True,NaN,[💥PANCAKES CACAO💥 ]\n.\n.\n⬇️INGREDIENTES⬇️\n➖...,[💥PANCAKES CACAO💥 ]\n.\n.\n⬇️INGREDIENTES⬇️\n➖...,Barcelona Cataluña,Spain,Zaragoza,-1.174093,41.451835,"(-1.174093, 41.451835)"
18,1837,5733,NaN,2019-11-13 14:29:31.000,NaN,1194623329220595712,1194623329220595712,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...",Peludito de 2 escasos años q está perdiendo vi...,...,False,"{'media': [{'id': 1194623305468104704, 'id_str...",None,Peludito de 2 escasos años q está perdiendo vi...,Madrid España,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
19,1850,5776,NaN,2019-11-13 14:29:51.000,NaN,1194623415161905152,1194623415161905152,es,"{'id': '387b00909c2e7031', 'url': 'https://api...",en la aso d bcn a la q iba tooooooooooodoooooo...,...,True,NaN,en la aso d bcn a la q iba tooooooooooodoooooo...,en la aso d bcn a la q iba tooooooooooodoooooo...,Castelldefels España,Spain,Granada,-3.699796,37.135903,"(-3.699796, 37.135903)"
20,2038,6379,NaN,2019-11-13 14:35:13.000,NaN,1194624765845102593,1194624765845102592,es,"{'id': '1a27537478dd8e38', 'url': 'https://api...",@GaliciaED_ @RubenRguezVquez Esto es la pera. ...,...,True,NaN,None,@GaliciaED_ @RubenRguezVquez Esto es la pera. ...,Barcelona,Spain,Barcelona,2.052477,41.317048,"(2.052477, 41.317048)"
21,2076,6506,NaN,2019-11-13 14:36:20.000,NaN,1194625044200050688,1194625044200050688,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...",El setter necesitado de adopción está en la ve...,...,True,NaN,El setter necesitado de adopción está en la ve...,El setter necesitado de adopción está en la ve...,Madrid España,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
22,2308,7305,NaN,2019-11-13 14:43:24.000,NaN,1194626823214288896,1194626823214288896,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...",Retrasar el parto para que el médico vuelva de...,...,False,NaN,None,Retrasar el parto para que el médico vuelva de...,Macondo,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
23,2318,7334,NaN,2019-11-13 14:43:35.000,NaN,1194626870345469954,1194626870345469952,es,"{'id': 'ea520f3528c9b3e4', 'url': 'https://api...","Está en una veterinaria de Ópera, de la médico...",...,False,NaN,None,"Está en una veterinaria de Ópera, de la médico...",Madrid España,Spain,Madrid,-4.579175,39.884537,"(-4.579175, 39.884537)"
24,2376,7524,NaN,2019-11-13 14:45:15.000,NaN,1194627289608122368,1194627289608122368,es,"{'id': '394ff7ddd49995ae', 'url': 'https://api...","""Este sí es un refrán gallego""",...,False,NaN,None,"""Este sí es un refrán gallego""",Miña terra galega,Spain,Pontevedra,-8.698411,42.343095,"(-8.698411, 42.343095)"
25,2435,7693,NaN,2019-11-13 14:46:33.000,NaN,1194627614922567683,1194627614922567680,es,"{'id': '507a015cba6ef518', 'url': 'https://api...",estamos de acuerdo en que la kas de naranja le...,...,False,NaN,None,estamos de acuerdo en que la kas de naranja le...,Málaga-Al-Ándalus-World.,Spain,Málaga,-4.587928,36.635585,"(-4.587928, 36.635585)"
26,2491,7869,NaN,2019-11-13 14:48:16.000,NaN,1194628047837655044,1194628047837655040,es,"{'id': '2afe3164f39d1b83', 'url': 'https://api...","@rosadiezglez Me he vuelto malo, ahora porque ...",...,True,NaN,"@rosadiezglez Me he vuelto malo, ahora porque ...","@rosadiezglez Me he vuelto malo, ahora porque ...",NaN,Spain,Valladolid,-4.928146,41.523108,"(-4.928146, 41.523108)"
27,2634,8316,NaN,2019-11-13 14:52:02.000,NaN,1194628996161343495,1194628996161343488,es,"{'id': 'abfd00c5f14e271e', 'url': 'https://api...",📢Aviso 🔶NARANJA por #FMA #Nevadas ❄️🌨️❄️ en #C...,...,True,NaN,📢Aviso 🔶NARANJA por #FMA #Nevadas ❄️🌨️❄️ en #C...,📢Aviso 🔶NARANJA por #FMA #Nevadas ❄️🌨️❄️ en #C...,Cabezón de la Sal (CANTABRIA),Spain,Cabezón de la Sal,-4.276687,43.274255,"(-4.276687, 43.274255)"
28,2678,8434,NaN,2019-11-13 14:53:02.000,NaN,1194629246225768449,1194629246225768448,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...","@FtimaCantalapi1 Me encanta el jugo de frutas,...",...,False,NaN,None,"@FtimaCantalapi1 Me encanta el jugo de frutas,...",Madrid. Roma. Casablanca.,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
29,2808,8822,NaN,2019-11-13 14:56:30.000,NaN,1194630120037703681,1194630120037703680,es,"{'id': '1a27537478dd8e38', 'url': 'https://api...","Información inútil sobre mi:\n\nAltura: 1,57\n...",...,True,NaN,"Información inútil sobre mi:\n\nAltura: 1,57\n...","Información inútil sobre mi:\n\nAltura: 1,57\n...",Barcelona - Mallorca,Spain,Barcelona,2.052477,41.317048,"(2.052477, 41.317048)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,11167,33555,"{'type': 'Point', 'coordinates': [-2.56153894,...",2019-11-13 18:07:38.000,"{'type': 'Point', 'coordinates': [42.46699167,...",1194678221624598528,1194678221624598528,es,"{'id': 'cb27712b983d86de', 'url': 'https://api...",➡️➡️📷 Maravillosos los platos de cuchara en @a...,...,True,NaN,➡️➡️📷 Maravillosos los platos de cuchara en @a...,➡️➡️📷 Maravillosos los platos de cuchara en @a...,Madrid,Spain,Fuenmayor,-2.626081,42.441602,"(-2.626081, 42.441602)"
85,11343,34148,NaN,2019-11-13 18:12:29.000,NaN,1194679442066546688,1194679442066546688,es,"{'id': 'cce502c993ca9dd2', 'url': 'https://api...",@rosadiezglez Tienes alzheimer. Tomate la medi...,...,False,NaN,None,@rosadiezglez Tienes alzheimer. Tomate la medi...,NaN,Spain,Vilanova i la Geltrú,1.669598,41.201848,"(1.669598, 41.201848)"
86,11621,34897,NaN,2019-11-13 18:18:50.000,NaN,1194681038259314689,1194681038259314688,es,"{'id': '689e141371932683', 'url': 'https://api...",⚠️AVISOS ROJOS⚠️ naranja y amarillo para toda ...,...,True,NaN,⚠️AVISOS ROJOS⚠️ naranja y amarillo para toda ...,⚠️AVISOS ROJOS⚠️ naranja y amarillo para toda ...,Benavente España,Spain,Santa Cristina de la Polvorosa,-5.788541,41.938450,"(-5.788541, 41.93845)"
87,12092,36228,NaN,2019-11-13 18:30:26.000,NaN,1194683958891569152,1194683958891569152,es,"{'id': '507a015cba6ef518', 'url': 'https://api...",informacion super inútil de mí:\n\naltura: 1'7...,...,True,NaN,None,informacion super inútil de mí:\n\naltura: 1'7...,Málaga España,Spain,Málaga,-4.587928,36.635585,"(-4.587928, 36.635585)"
88,12143,36357,NaN,2019-11-13 18:31:34.000,NaN,1194684245647732737,1194684245647732736,es,"{'id': '8c86b8b4cb716103', 'url': 'https://api...",@FAquae Melón de agua \nSandía\nTú tía \nSu ma...,...,True,NaN,@FAquae Melón de agua \nSandía\nTú tía \nSu ma...,@FAquae Melón de agua \nSandía\nTú tía \nSu ma...,NaN,Spain,Sevilla,-6.028430,37.313613,"(-6.02843, 37.313613)"
89,12299,36825,NaN,2019-11-13 18:35:46.000,NaN,1194685298510352385,1194685298510352384,es,"{'id': '1a27537478dd8e38', 'url': 'https://api...",'A José María hoy le han regalado\nUn coche pe...,...,True,NaN,None,'A José María hoy le han regalado\nUn coche pe...,Barcelona Catalonia,Spain,Barcelona,2.052477,41.317048,"(2.052477, 41.317048)"
90,12395,37130,NaN,2019-11-13 18:38:15.000,NaN,1194685924531150848,1194685924531150848,es,"{'id': '3afc29d1fe76301f', 'url': 'https://api...",Información súper importante sobre mí:\n\nAltu...,...,True,NaN,Información súper importante sobre mí:\n\nAltu...,Información súper importante sobre mí:\n\nAltu...,Pedrola España,Spain,Zaragoza,-1.174093,41.451835,"(-1.174093, 41.451835)"
91,12509,37507,NaN,2019-11-13 18:41:31.000,NaN,1194686746556014595,1194686746556014592,es,"{'id': '08eb5d76dc74e0e9', 'url': 'https://api...",@oierazkarraga @clacunza La ha votado un señor...,...,False,NaN,None,@oierazkarraga @clacunza La ha votado un señor...,EH,Spain,Pamplona,-1.694620,42.789017,"(-1.69462, 42.789017)"
92,12688,38039,NaN,2019-11-13 18:46:16.000,NaN,1194687943958573061,1194687943958573056,es,"{'id': 'b56aaebbd105a09e', 'url': 'https://api...",@jroto_ Comerte unas lentejas,...,False,NaN,None,@jroto_ Comerte unas lentejas,NaN,Spain,Piélagos,-4.013130,43.330029,"(-4.01313, 43.330029)"
93,12711,38096,NaN,2019-11-13 18:46:47.000,NaN,1194688074627899392,1194688074627899392,es,"{'id': 'b56aaebbd105a09e', 'url': 'https://api...",La gente a la q le gusta el aquarius?,...,False,NaN,None,La gente a la q le gusta el aquarius?,NaN,Spain,Piélagos,-4.013130,43.330029,"(-4.01313, 43.330029)"
94,12979,38959,NaN,2019-11-13 18:54:13.000,NaN,1194689942691209217,1194689942691209216,es,"{'id': '0df6ac4d361d4e0e', 'url': 'https://api...",fruta https://t.co/RPPLyt2mSP,...,False,"{'media': [{'id': 1194689936139718661, 'id_str...",None,fruta https://t.co/RPPLyt2mSP,NaN,Spain,Vigo,-8.916355,42.129380,"(-8.916355, 42.12938)"
95,13016,39065,NaN,2019-11-13 18:55:00.000,NaN,1194690138846253057,1194690138846253056,es,"{'id': '0df6ac4d361d4e0e', 'url': 'https://api...",@chupacaca69 SOLO DIJE FRUTA,...,False,NaN,None,@chupacaca69 SOLO DIJE FRUTA,NaN,Spain,Vigo,-8.916355,42.129380,"(-8.916355, 42.12938)"
96,13017,39072,NaN,2019-11-13 18:55:02.000,NaN,1194690149881397250,1194690149881397248,es,"{'id': '0df6ac4d361d4e0e', 'url': 'https://api...",@TitotatinTT Pimiento rojo y pimiento verde\nT...,...,False,NaN,None,@TitotatinTT Pimiento rojo y pimiento verde\nT...,Carmeningrado España,Spain,Vigo,-8.916355,42.129380,"(-8.916355, 42.12938)"
97,13039,39123,NaN,2019-11-13 18:55:20.000,NaN,1194690224095420418,1194690224095420416,es,"{'id': '6c1be133511970bc', 'url': 'https://api...","A continuación, dando por hecho que esa fruta ...",...,True,NaN,None,"A continuación, dando por hecho que esa fruta ...",Mallorca,Spain,Palma,2.563782,39.125070,"(2.563782, 39.12507)"
98,13058,39182,"{'type': 'Point', 'coordinates': [2.166869, 41...",2019-11-13 18:55:48.000,"{'type': 'Point', 'coordinates': [41.390994, 2...",1194690340617433089,1194690340617433088,es,"{'id': '1a27537478dd8e38', 'url': 'https://api...","MANGO #intimatedinner Paseo de Gracia, 36 - Ba...",...,True,NaN,"MANGO #intimatedinner Paseo de Gracia, 36 - Ba...","MANGO #intimatedinner Paseo de Gracia, 36 - Ba...",Barcelona España,Spain,Barcelona,2.052477,41.317048,"(2.052477, 41.317048)"
99,13169,39501,NaN,2019-11-13 18:58:32.000,NaN,1194691029565419520,1194691029565419520,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...",@Pol588 @NebraskaGuy212 Te gusta el pimiento? ...,...,False,"{'media': [{'id': 1194691021571002374, 'id_str...",None,@Pol588 @NebraskaGuy212 Te gusta el pimiento? ...,Madrid Comunidad de Madrid,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
100,13280,39791,NaN,2019-11-13 19:01:01.000,NaN,1194691654428569601,1194691654428569600,es,"{'id': 'c6b7997762da90a9', 'url': 'https://api...",@VanesaFeGa Mientras Twitter no escriba las le...,...,True,NaN,@VanesaFeGa Mientras Twitter no escriba las le...,@VanesaFeGa Mientras Twitter no escriba las le...,Mollet Barcelona,Spain,Mollet del Vallès,2.188040,41.524029,"(2.18804, 41.524029)"
101,13353,40015,NaN,2019-11-13 19:03:03.000,NaN,1194692166641168384,1194692166641168384,es,"{'id': '0df6ac4d361d4e0e', 'url': 'https://api...",@TitotatinTT Échale un poquito de nada que es ...,...,False,NaN,None,@TitotatinTT Échale un poquito de nada que es ...,Carmeningrado España,Spain,Vigo,-8.916355,42.129380,"(-8.916355, 42.12938)"
102,13837,41343,NaN,2019-11-13 19:14:46.000,NaN,1194695117359087616,1194695117359087616,es,"{'id': '71d49086a15d032e', 'url': 'https://api...","Jamoncitos de pollo con tomate, la receta que ...",...,False,"{'media': [{'id': 1194695111118077952, 'id_str...",None,"Jamoncitos de pollo con tomate, la receta que ...",Madrid,Spain,Sevilla la Nueva,-4.076755,40.332290,"(-4.076755, 40.33229)"
103,13875,41431,"{'type': 'Point', 'coordinates': [-3.68623092,...",2019-11-13 19:15:40.000,"{'type': 'Point', 'coordinates': [40.4363166, ...",1194695343495143424,1194695343495143424,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...",Comprobado: lo tradicional y sencillo es mucha...,...,True,NaN,Comprobado: lo tradicional y sencillo es mucha...,Comprobado: lo tradicional y sencillo es mucha...,Getafe Madrid,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
104,13905,41498,NaN,2019-11-13 19:16:13.000,NaN,1194695480464355329,1194695480464355328,es,"{'id': '9b260d25c717f3d9', 'url': 'https://api...",@jrlaguardia Si me las quito yo veo una berenj...,...,False,NaN,None,@jrlaguardia Si me las quito yo veo una berenj...,Sentadito en mi tejado.,Spain,Galar,-1.724087,42.697814,"(-1.724087, 42.697814)"
105,13958,41646,NaN,2019-11-13 19:17:30.000,NaN,1194695801664155655,1194695801664155648,es,"{'id': '0c57c49e4d495e37', 'url': 'https://api...",@PuriRV Datos tontos sobre mí:\n\nAltura: 1'60...,...,True,NaN,None,@PuriRV Datos tontos sobre mí:\n\nAltura: 1'60...,Les Franqueses del Vallès Esp,Spain,Pineda de Mar,2.627270,41.615030,"(2.62727, 41.61503)"
106,13978,41702,NaN,2019-11-13 19:18:02.000,NaN,1194695935923806209,1194695935923806208,es,"{'id': 'e564ddfcdf4b36fd', 'url': 'https://api...",información inutil sobre mi:\n\naltura: 1'59\n...,...,True,NaN,None,información inutil sobre mi:\n\naltura: 1'59\n...,NaN,Spain,Boadilla del Monte,-3.952603,40.377576,"(-3.952603, 40.377576)"
107,14175,42224,NaN,2019-11-13 19:22:41.000,NaN,1194697109502648320,1194697109502648320,es,"{'id': '00ab08eef1b62e92', 'url': 'https://api...",el mango por la sartén,...,False,NaN,None,el mango por la sartén,NaN,Spain,Las Palmas de Gran Canaria,-15.525504,28.024813,"(-15.525504, 28.024813)"

In [20]:
# Tweets with extended entities (multimedia) from Spain
df_spain[df_spain['extended_entities'].notna()]

,level_0,index,coordinates,created_at,geo,id,id_str,lang,place,text,...,truncated,extended_entities,full_text,text2Proc,user_location,Country,City,Longitude,Latitude,Coordinates
18,1837,5733,NaN,2019-11-13 14:29:31.000,NaN,1194623329220595712,1194623329220595712,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...",Peludito de 2 escasos años q está perdiendo vi...,...,False,"{'media': [{'id': 1194623305468104704, 'id_str...",None,Peludito de 2 escasos años q está perdiendo vi...,Madrid España,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
31,3205,10096,NaN,2019-11-13 15:07:43.000,NaN,1194632943685095424,1194632943685095424,es,"{'id': '342f9faf7392d4ce', 'url': 'https://api...",Las lentejas y la adjika casera (más verde que...,...,False,"{'media': [{'id': 1194632930758279169, 'id_str...",None,Las lentejas y la adjika casera (más verde que...,🇪🇸 | 🇺🇦 | 🇷🇺,Spain,Logroño,-2.542232,42.429049,"(-2.542232, 42.429049)"
38,4049,12747,NaN,2019-11-13 15:30:20.000,NaN,1194638635213025282,1194638635213025280,es,"{'id': 'a4d75ab3c00c2563', 'url': 'https://api...",Celebremos el Día Mundial de la Dieta Mediterr...,...,False,"{'media': [{'id': 1194638616439480320, 'id_str...",None,Celebremos el Día Mundial de la Dieta Mediterr...,Níjar (Almería),Spain,Níjar,-2.300484,36.719095,"(-2.300484, 36.719095)"
94,12979,38959,NaN,2019-11-13 18:54:13.000,NaN,1194689942691209217,1194689942691209216,es,"{'id': '0df6ac4d361d4e0e', 'url': 'https://api...",fruta https://t.co/RPPLyt2mSP,...,False,"{'media': [{'id': 1194689936139718661, 'id_str...",None,fruta https://t.co/RPPLyt2mSP,NaN,Spain,Vigo,-8.916355,42.129380,"(-8.916355, 42.12938)"
99,13169,39501,NaN,2019-11-13 18:58:32.000,NaN,1194691029565419520,1194691029565419520,es,"{'id': '206c436ce43a43a3', 'url': 'https://api...",@Pol588 @NebraskaGuy212 Te gusta el pimiento? ...,...,False,"{'media': [{'id': 1194691021571002374, 'id_str...",None,@Pol588 @NebraskaGuy212 Te gusta el pimiento? ...,Madrid Comunidad de Madrid,Spain,Madrid,-3.889005,40.312071,"(-3.889005, 40.312071)"
102,13837,41343,NaN,2019-11-13 19:14:46.000,NaN,1194695117359087616,1194695117359087616,es,"{'id': '71d49086a15d032e', 'url': 'https://api...","Jamoncitos de pollo con tomate, la receta que ...",...,False,"{'media': [{'id': 1194695111118077952, 'id_str...",None,"Jamoncitos de pollo con tomate, la receta que ...",Madrid,Spain,Sevilla la Nueva,-4.076755,40.332290,"(-4.076755, 40.33229)"